{% extends "base.html" %}

{% load static %}

{% block title %}
Kvíz
{% endblock %}

{% block content %}   
{% if user.is_authenticated%}    

    <div class="container" id="intro-container">

    <div align="right" id="displaytimer"><b>Časovač: 04:00</b></div>
    
    <form id="quizForm" method='post' action=''>
        {% csrf_token %}
        {% for q in questions %}
        <div class="question{% if forloop.first %} active{% endif %}" id="question_{{ q.id }}">
            <div class="form-group">
                <div class="timer">
                    <b>Otázka {{ forloop.counter }}/{{questions|length}}</b>
                </div>
                <label for="user_answer_{{ q.id }}">{{ q.question }}</label>
                <div class="hint">
                    <div>
                        <input type="text" id="user_answer_{{ q.id }}" name="user_answer_{{ q.id }}" class="form-control" required autocomplete="off">
                    </div>
                    <div style="display: flex; margin-left: 20px;">
                        <div class="hint-answer" id="hint_{{ q.id }}" style="display: none;">{{ q.hint }}</div>
                        <button type="button" class="showHintBtn" title="nápověda" data-question-id="{{ q.id }}">?</button>
                        
                    </div>
                </div>
            </div>
            
                

        </div>
        {% endfor %}
            
        <input id='timer' type='hidden' name="timer" value="">
        <input id='hintButtonClickCount' type='hidden' name="hintButtonClickCount" value="">
        <button type="button" class="btn" id="nextButton">Další hádanka</button>
        <button type="submit" class="btn" id="submitButton" style="display: none;">Poslat odpovědi</button>
    </form>

    <div class="quit">
        <a href="{% url 'home' %}">Ukončit kvíz</a>
    </div>  
    
    {% block script %}
        <script>
            let hintButtonClickCount = 0;
            var clickCount = document.getElementById("hintButtonClickCount")
            clickCount.value = hintButtonClickCount;

            document.addEventListener('DOMContentLoaded', function() {
                // Initially hide all question elements
                const questions = document.querySelectorAll('.question');
                questions.forEach(function(question) {
                    question.style.display = 'none';
                });
            
                // Show the first question initially
                const firstQuestion = document.querySelector('.question.active');
                if (firstQuestion) {
                    firstQuestion.style.display = 'block';
                }
            
                // Function to toggle visibility of questions
                function toggleQuestions(activeQuestion) {
                    questions.forEach(function(question) {
                        if (question === activeQuestion) {
                            question.style.display = 'block';
                        } else {
                            question.style.display = 'none';
                        }
                    });
                }
                document.querySelectorAll('.showHintBtn').forEach(function(button) {
                    button.addEventListener('click', function() {
                        t-=5;
                        hintButtonClickCount++;
                        clickCount.value = hintButtonClickCount;
                        var questionId = this.getAttribute('data-question-id');
                        var hintElement = document.getElementById('hint_' + questionId);
                        hintElement.style.display = 'block';
                    });
                });
            
                // Event listener for the next button
                const nextButton = document.getElementById('nextButton');
                nextButton.addEventListener('click', function() {
                    const activeQuestion = document.querySelector('.question.active');
                    const nextQuestion = activeQuestion.nextElementSibling;

                    // Check if the input field of the active question is empty
                    const inputField = activeQuestion.querySelector('input[type="text"]');
                    if (inputField && inputField.value.trim() === '') {
                        alert('Musíš zadat odpověď!');
                        return; // Stop execution if input is empty
                    }
                    if (nextQuestion && nextQuestion.classList.contains('question')) {
                        activeQuestion.classList.remove('active');
                        nextQuestion.classList.add('active');
                        toggleQuestions(nextQuestion);

                        if (!nextQuestion.nextElementSibling || !nextQuestion.nextElementSibling.classList.contains('question')) {
                            nextButton.style.display = 'none'; // Hide next button
                            document.getElementById('submitButton').style.display = 'block'; // Show submit button
                        }
                    }
                });
            });
            
            const timer=document.getElementById('displaytimer')
            const inputtag = document.getElementById('timer')

            t=240;
            
            setInterval(()=>{
                var minutes = Math.floor(t / 60);
                var seconds = t % 60;

                var formattedTime = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');

                t-=1
                timer.innerHTML ="<b>Časovač: " + formattedTime + " </b>";
                inputtag.value = t;

                if (t < 0) {
                    document.getElementById("quizForm").submit();
                }
            },1000)
        </script>
    {% endblock script %}
    
    </div>
{% else %}
    <div class="container ">
        <p>
            Pro spuštění kvízu se musíš <a href="{% url 'login' %}">přihlásit</a>!
        <p>
        <p>
            Nemáš účet? Nevadí. <a href="{% url 'register' %}">Zaregistruj se.</a>
        </p>
    </div>
{% endif %}
{% endblock %}