{% load i18n %}

{% blocktrans %}Zdravím{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Byl ti zaslán tento e-mail, protože jsi požádal o obnovu hesla na stránce {{ domain }}. 
Pokud si nepřeješ heslo obnovit, tento e-mail ignoruj.
{% endblocktrans %}

{% blocktrans %}
Pro obnovu hesla otevři následující odkaz v prohlížeči:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}


{% blocktrans %}Tvoje přezdívka je{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Pěkný den přeje{% endblocktrans %}
{{ site_name }} {% blocktrans %}Mar6Wen8{% endblocktrans %}


{# This is used by django.contrib.auth #}